
@{
    ViewData["Title"] = "Contacts";
}

<div class="container">
    <h1 class="mb-3 text-center text-light">Entre em Contato</h1>
    <div class="row justify-content-center"> 
        <form class="col-sm-10 col-md-8 col-lg-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" autofocus" id="txtNome" placeholder="Nome Completo"/>

                <label for="txtNome"></label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" autofocus" id="txtEmail" placeholder="E-mail"/>

                <label for="txtEmail"></label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" id="txtMensagem" placeholder="Digite sua mensagem" style="height: 200px;">

                </textarea>

                <label for="txtMensagem"></label>
            </div>

            <button class="btn btn-lg btn-danger" type="button" onclick="window.location. href='/confirmcontato.html'">Enviar Mensagem</button>
        </form>
    </div>
</div>

