@{
    ViewData["Title"] = "Home Page";
}

<header class="container-fluid mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
                <img class="d-block w-100 rounded" src="~/Imagens/s2.jpg" alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rio de Janeiro</h5>
                    <p>Cidade Maravilhosa</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img class="d-block w-100 rounded" src="~/Imagens/s1.jpg" alt="Segundo Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rio de Janeiro</h5>
                    <p>Cidade Maravilhosa</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="3000">
                <img class="d-block w-100 rounded" src="~/Imagens/s5.jpg" alt="Terceiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Rio de Janeiro</h5>
                    <p>Cidade Maravilhosa</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
</header>
<div class="rounded p-4 mx-auto bg-content">
    <div class="border rounded p-2 m-3 mx-auto">
        <h1 class="text-light text-center">Quem Somos</h1>
        <p class="text-light text m-2">
            A Viaje Mais tem como principal objetivo realizar o sonho de viagem de cada cliente, levando em consideração seu desejo, vontade e perfil de viajante.
            Como consultores de viagem, sabemos da importância de encontrar o roteiro que melhor satisfaça o cliente, para tanto, ouvimos primeiro qual é o seu sonho e em seguida trabalhamos para realizá-lo.

            Nossos serviços englobam a emissão de passagens aéreas, seguro viagens, reservas de hotéis, locação de veículos, obtenção de vistos, elaboração de roteiros individuais e de grupos, e tudo mais necessário para fazer de cada viagem um sonho realizado.

            Somos parceiros das principais empresas do ramo turístico, de forma a proporcionar ao cliente inúmeras opções para viagens de lazer, negócios ou ecoturismo.

            No site, o cliente fica sabendo de promoções e roteiros personalizados, pode consultar pacotes on-line e emitir seu seguro viagem com rapidez e segurança. Além disso, tem a sua disposição um canal direto de contato com nossos consultores e acesso aos depoimentos de clientes e amigos que viajaram conosco.

            Somos especialistas em realizar sonhos, venha conosco conhecer o mundo!
        </p>
    </div>
</div>