@{
    ViewData["Title"] = "Guia de Destinos";
}
<h1 class="text-center text-light">@ViewData["Title"]</h1>


<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch ">
        <div class="card text-center bg-light mt-3">
            <img src="~/Imagens/rj (2).jpg" />
            <div class=" card-header">
                <span>Passagens apartir de</span>
                <span class="font-weight-bold">R$ 300</span>
            </div>
            <div class="card-body">
                <h5>Rio de Janeiro</h5>
                <p>Cidade Maravilhosa</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>

</div>